{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>Ajouter un article</h1>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.category) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    <div>
        <h2>Voici la liste complète des articles et de leur catégorie</h2>
        {% for article in articles %}
            <ul class="list-group">
                <li class="list-group-item">{{ article.title }}</li>
                <a href="{{path('find_category', {'id': article.id}) }}">Voir la categorie de cet article</a>
            </ul>
        {% endfor %}
    </div>
{% endblock %}