{% extends 'base.html.twig' %}

{% block body %}
    <h1>Le nom de l'article {{ article.id }} est : {{ article.title }}</h1>
        <a href="{{path('find_category', {'id': article.id}) }}">Voir la categorie de cet article</a></br></br>

    <strong>Tags :</strong>
    <ul>
        {% for tag in tags %}
            <li><a href="{{path('tag', {'name': tag.name}) }}">{{ tag.name }}</a></li>
        {% else %}
            <li>No tags for this article</li>
        {% endfor %}
    </ul>

{% endblock %}